body{
    background-color: #fafafa;
}

.bg-steel {
    background-color: #5f788a;
  }

#main-container{
    height: 400px;
}

button{
    cursor: pointer;
    border: none;
    height: 40px;
    width: auto;
    padding: 14px 28px;
    background-color: #6199f2;
    color: #000;
    border-radius: 0px;
}

button:hover{
    background-color: #5d75df;
}


.bar{
    position: absolute;
    bottom: 0;
    width: 95%;
    background-color: #6199f2;
}

.column{
    position: relative;
    align-items: flex-end;
    height: 100%;
    display: inline-block;
}


.modified-container{
    position: relative;
    margin-top: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 5%;
}