body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.gap{
    height: 100px;
}

button{
    cursor: pointer;
    border: none;
    height: 40px;
    width: auto;
    padding: 14px 28px;
    background-color: #6199f2;
    color: #000;
    border-radius: 0px;
}

button:hover{
    background-color: #5d75df;
}

#main-container{
    height: 400px;
    margin: 0%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.bar{
    position: absolute;
    bottom: 0;
    width: 95%;
    background-color: #6199f2;
}

.row{
    position: relative;
    align-items: flex-end;
    height: 100%;
    width: 2%;
    display: inline-block;
}
